.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

