
.formList {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formItem {
    display: flex;
    justify-content: space-between;
}

.submitButton {
    margin-top: 30px;
    width: 130px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topDisplay {
    display: flex;
}