.box {
margin-top: 5%;
margin-right: 15%;
margin-bottom: 5%;
margin-left: 15%;
background-color: aqua;
}

.image_box{
text-align: center;
}
.photo {
	margin-top: 30px;
	border:  double 10px green;
}
h1 {
	font-size: 40px;
	text-decoration: underline;
	margin-left: 10px;

}

h2 {
	font-size: 25px;
	text-decoration: underline;
	margin-left: 10px;
}

.article_box{
	margin-left: 20px;
	border-style: double;
	background-color: yellowgreen;
}
.p_article{
	margin: 30px;
}
a:hover {
	color:red;
}
.footer{
	text-align: center;
}