.header_div{
	text-align: center;
}
.header_image {
	border-radius: 25px;
	box-shadow: 5px 15px grey;
    transform: rotate(5deg);
}
footer{
	display: flex;
	justify-content: center;
}
#footerId{
	font-size: 30px;
}
figure{
	max-height: 550px;
	max-width: 550px;
}
p{
		font-family: 'Thasadith', sans-serif;
		flex-basis: content;
		max-width: 550px;
}

.pquote {
    float: right;
    color: #030;
    font-size: 18px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 24px;
    font-weight: bold;
}
.content_div{
	display:grid;
	grid-template-columns: auto 1fr;
	justify-items: start;
	align-items: start;
	justify-content: start;
	align-content: start;
}
.car_gallery{
	display: grid;
	grid-template-rows: auto 1fr;
	/* grid-auto-columns: 1;  */
	justify-items: start;
	align-items: start;
	justify-content: start;
	align-content: start;
}
.div_text{
	display: grid;
	grid-template-columns: auto 1fr;
	/* grid-auto-rows: 2; */
	justify-content: start;
	align-items: start;
	justify-content: start;
	align-content: start;

}
.photo1 {
	float: left;
	margin: 5px;
}
.photo2{
	float: right;
	margin: 5px;
}