.header_div{
	text-align: center;
}
.header_image {
	border-radius: 25px;
	box-shadow: 5px 15px grey;
    transform: rotate(5deg);
}
footer{
	display: flex;
	justify-content: center;
}
#footerId{
	font-size: 30px;
}
figure{
	max-height: 550px;
	max-width: 550px;
}
p{
		font-family: 'Thasadith', sans-serif;
		flex-basis: content;
		max-width: 550px;
}

.pquote {
    float: right;
    color: #030;
    font-size: 18px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 24px;
    font-weight: bold;
}
.content_div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}
.car_gallery{
	flex-shrink: 0;
	order:1;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.div_text{
	order:2;
	max-width: 70%;
	min-width: 5%;
	flex-shrink: 4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.photo1 {
	float: left;
	margin: 5px;
}
.photo2{
	float: right;
	margin: 5px;
}