h1 {
    color: green;
    font-size: 22px;
}

p {
    color: blue;
    font-size: 16px;
}

table,
th,
td {
    border: 3px solid red;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: upper-roman;
}

a {
    text-decoration: none;
}
        
        