
@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');
@import "~bootstrap/scss/bootstrap";

body, html {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.411);
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Arial';
}
h1{
    color: rgba(16, 221, 160, 0.87);
}