h1{
	text-align: center;
}

.first {
	width:49%; float:left; margin:5px; background-color:royalblue;
}
.second {
	width:49%; float:right; margin:5px; background-color:royalblue;
}
/* p{
	clear: both;
} */
.photo1 {
	float: left;
	margin: 5px;
}
.photo2{
	float: right;
	margin: 5px;
}